# General
# ======
ENVIRONMENT=dev
LOG_LEVEL=DEBUG
# ----------------------------------------------------------------------------------------------------------------------

# Backend
# =======
# In CI, CONFIG_DB_TEST_URL is taken from pytest-ci.ini
HOSTEL_DB_URL=postgres://postgres:postgres@hostel_db:5432/dev
HOSTEL_DB_HOST=hostel_db
CONFIG_DB_PORT=5432

